:root {
    --primary-color: #ff9f0d;
    --secondary-color: #9e9e9e;
    --other-color: #212121;
    --text-color: #fff;
    --background-color: #111111;
    --big-font: 3rem;
    --h2-font: 2.5rem;
    --p-font: 1.2rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: var(--other-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: var(--big-font);
    color: var(--primary-color);
    margin-bottom: 20px;
}

p {
    font-size: var(--p-font);
    margin-bottom: 30px;
}

.home-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: var(--p-font);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #ff7f00;
}